.bg-nav{
    background: #22c1c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f0d477, #ceaa31);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f0d477, #ceaa31); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mt-50{
    margin-top:50px;
}
.mt-70{
    margin-top:70px;
}
.mt-2{
    margin-top:2px;
}
.img-with-margin {
    margin: 10px;
}